/* html {
  font-size: 1em;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media screen and (max-width: 600px), screen 
 and (orientation: landscape) {
  body {
    color: red;
  }
}  */

html,
body {
  height: 100%;
  width: 100%;
}

/* #box {
  height: 500px;
  width: 500px;
  background: crimson;
}

#inner {
  height: 50wh;
  width: 40vh;
  background: royalblue;
  display: flex;
} */
/* 
.h2 {
  font-size: 10vmin;
} */

/* #parent {
  background-color: #dadada;
  width: 40%;
  font-size: 40px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1.5rem;
} */
/* 
.box {
  height: 300px;
  width: 500px;
  border: 2px solid black;
  background-color: crimson;
}

/* Media Queries */

/* 
@media (max-width: 700px) {
  .box {
    background: black;
    border: 4px solid black;
  }
}

@media (max-width: 400px) {
  .box {
    border: 2px solid black;
    border-radius: 50%;
    background: royalblue;
  }
} */

.main {
  height: 100%;
  width: 100%;
  position: relative;
}

.nav {
  height: 100px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
  border-bottom: 2px solid #dadada;
}

.nav_part2 {
  display: flex;
  justify-items: row;
  gap: 40px;
  font-size: 30px;
  align-items: center;
}

.nav h4 {
  cursor: pointer;
}

.nav h2 {
  cursor: pointer;
}

.nav i {
  font-size: 1.2w;
  font-weight: 400;
  cursor: pointer;
}

@media (max-width: 600px) {
  .nav {
    background: lightseagreen;
    color: #fff;
  }
  .nav h2 {
    font-size: 3rem;
    font-weight: 700;
  }
  .nav h4 {
    font-size: 1.8vw;
    cursor: pointer;
    display: none;
    margin: 12px 0;
  }
}

.content {
  height: calc(100% - 100px);
  width: 100%;
  margin-top: 10px;
  display: flex;
  position: relative;
  padding: 0 10vh;
}

.right {
  height: 60%;
  width: 50%;
  /* background: royalblue; */
  padding: 3vw 4vw;
}

.left p {
  font-size: 1.2vw;
  font-weight: 600;
  color: #666;
  width: 80%;
  margin-bottom: 1.5vw;
  margin-bottom: 3vw;
}

.rigth h1 span {
  font-size: 10vw;
  /* color: lightseagreen; */
}

button {
  cursor: pointer;
  background-color: lightseagreen;
  padding: 1.3vw 2.1vw;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}
